
.tweet-wrapper {
  text-decoration: none;
}
.tweet-cont {
  display: flex;
  padding: 15px;
  border-left: 1px solid #38444d;
  border-right: 1px solid #38444d;
  border-bottom: 1px solid #38444d;
  &:hover {
    background-color: rgba(255, 255, 255, 0.03);
    cursor: pointer;
  }
  
  .left-column {
    width: 50px;
  }
  .right-column {
    line-height: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: #fff;
    a {
      color: rgb(27, 149, 224);
      text-decoration: none;
    }
  }
  .name-cont {
    display: flex;
  }
  .name {
    font-size: 15px;
    font-weight: 700;
  }
  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-radius: 50%;
    }
  }
  .username {
    margin-left: 10px;
    color: rgba(136, 153, 166, 1)
  }
  .time {
    color: rgba(136, 153, 166, 1);
    &::before {
      content: '·';
      padding: 5px;
    }
  }
  .comment {
    background-image: url(../../icons/twitter.svg)
  }
  .action-buttons {
    display: flex;
    color: rgba(136, 153, 166, 1);
    justify-content: space-between;
    margin-top: 10px;
  }
  .btn {
    &:hover {
      color: rgb(27, 149, 224);
    }
  }
  .icon {
    font-size: 18px;
    margin-right: 4px;
    vertical-align: bottom;
    
  }

  &.in-focus {
    flex-direction: column;
    .left-column {
      display: flex;
      width: auto;
    }
    .name-cont {
      flex-direction: column;
      color: white;
      margin-left: 10px;
    }
    .username {
      margin-left: 0;
    }
    .right-column {
      margin: 10px 0 0 0;
    }
    .msg-cont {
      font-size: 23px;
      line-height: 1.3125;
    }
    .action-buttons {
      margin-top: 15px;
      padding: 15px;
      border-bottom: 1px solid #38444d;
      border-top: 1px solid #38444d;
    }
  }

}