.page-cont {
  display: flex;
  // width: 980px;
  // margin: 0 auto;
 .left-column, .right-column {
  flex-grow: 1;
  background-color: lemonchiffon;
 }
 .middle-column { 
   width: 600px;
   background-color: yellow;
 }
}