.explore {
  display: flex;
  .tab-switch-cont {
    display: flex;
    width: 100%;
  }
  .home-text {
    height: 54px;
    display: flex;
    align-items: center;
    font-size: 19px;
  }
  .tab-switch {
    flex-grow: 1;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background-color:rgba(27, 149, 224, 0.3);
    }
    &.highlight {
      color: rgb(27, 149, 224);
    }
  }
 .header-home {
  border-left: 1px solid #38444d;
  border-right: 1px solid #38444d;
  border-bottom: 1px solid #38444d;
  height: 108px;
  color: #fff;
  padding: 10px 10px 0 10px;
  position: sticky;
  top: 0;
  background-color: #15212B;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-weight: 700;
 }
 .infinite-list-cont {
   margin-top: 54px;
 }
 .right-col {
  position: sticky;
  top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 19px;
  width: 350px;
  margin: 0 0 0 20px;
  .sw-cont-heading {
    display: flex;
    align-items: center;
    padding: 15px;
    height: 44px;
    border-bottom: 1px solid #38444d;
  }
  .window-switch-cont {
    border-radius: 20px;
    margin-top: 20px;
    background-color: #192834;
    color: white;
    width: 100%;
    overflow: hidden;
  }
  .search-cont { 
    width: 100%;
  }
  .window-switch {
    display: block;
    border-bottom: 1px solid #38444d;
    &:hover {
      background-color: rgba(255, 255, 255, 0.03)
    }
    &:last-of-type {
      border-bottom: none;
    }
    padding: 15px;
    cursor: pointer;
    &.highlight {
      color: rgb(27, 149, 224);
    }
  }
 }
 .left-col {
   color: white;
   position: sticky;
   top: 10px;
   .icon-cont {
     height: 44px;
     align-items: center;
   }
   .icon-twitter {
    font-size: 33px;
   }
 }
}
